<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div
    class="container d-flex justify-content-center  vh-100"
  >
    <div class="row align-items-center mb-5 pb-5">
      <div class="col-12">
        <h1 class="text-center">
          Welcome to<span style="color: #fe424d">Wanderlust</span> 
        </h1>
      </div>
    </div>
  </div>
</body>
